name: create-release-pr

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (ex. `0.1.0`)
        required: false
        type: string

concurrency:
  group: pg_idkit-create-release-pr # Project-wide
  cancel-in-progress: true

jobs:
  create-release-pr:
    permissions:
      id-token: write
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      # Checkout the full repository history
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      # Set up caching
      - uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2

      # Install deps
      - uses: chainguard-dev/actions/setup-gitsign@main
      - name: Install cargo-release
        uses: taiki-e/cache-cargo-install-action@25ef9892608d184944df486ae09ffae168b3cda3 # v3.0.0
        with:
          tool: cargo-release
      - name: Install just
        uses: taiki-e/cache-cargo-install-action@25ef9892608d184944df486ae09ffae168b3cda3 # v3.0.0
        with:
          tool: just
      - name: Install cargo-get
        uses: taiki-e/cache-cargo-install-action@25ef9892608d184944df486ae09ffae168b3cda3 # v3.0.0
        with:
          tool: cargo-get
      - name: Install git-cliff
        uses: taiki-e/cache-cargo-install-action@25ef9892608d184944df486ae09ffae168b3cda3 # v3.0.0
        with:
          tool: git-cliff
      - name: Install cargo-edit
        uses: taiki-e/cache-cargo-install-action@25ef9892608d184944df486ae09ffae168b3cda3 # v3.0.0
        with:
          tool: cargo-edit

      # Prep the new version
      - name: Detect version (current or input)
        id: detect-version
        run: |
          if [ -z "${{ inputs.version || '' }}" ]; then
            echo value=$(just print-version) >> $GITHUB_OUTPUT;
          else
            echo value="${{ inputs.version }}" >> $GITHUB_OUTPUT;
          fi
      - name: Set version
        env:
          VERSION: ${{ steps.detect-version.outputs.value }}
        run: |
          just set-version $VERSION
      - name: Generate Changelog
        env:
          VERSION: ${{ steps.detect-version.outputs.value }}
        run: |
          just changelog

      # Create PR for release
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ secrets.RELEASE_PR_PAT }}
          signoff: true
          commit-message: |
            release: pg_idkit ${{ steps.detect-version.outputs.value }}
          title: |
            release: pg_idkit v${{ steps.detect-version.outputs.value }}
          body: |
            This is a release prep branch for `pg_idkit` release v${{ steps.detect-version.outputs.value }}.

            Upon merging, this branch will cause a tag to be placed on the commit in `main`. After the tag has been placed, a build will run that generates artifacts and publishes a release.

            Before this release is ready, here is the checklist:
              - [ ] Update `README.md` to use the newest version of Postgres, if it has changed (ex. `16.2` -> `17.0`)
              - [ ] Update `README.md` to soon-to-be-released pg_idkit (ex. `pg_idkit-0.2.0` -> `pg_idkit-0.2.1`)
              - [ ] Update `generate-rpm` configuration in `Cargo.toml` version references (ex. `--0.2.0.sql` -> `--0.2.1.sql`)
              - [ ] Update default version in `justfile`

            See CHANGELOG for changes made to this release before it goes out.
          labels: |
            release-pr
          assignees: |
            t3hmrman
          branch: prep-release-v${{ steps.detect-version.outputs.value }}
