name: test

on:
  merge_group:
  pull_request:

  push:
    tags-ignore:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+*"

concurrency:
  group: pr-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-gnu:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vadosware/pg_idkit/builder-gnu:0.1.x@sha256:d2632a0d78ab428588230c8666c20562a3fcbb0191557c675ba4bf075f134934
    strategy:
      matrix:
        config:
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg15
              pkg-pg-version: 15.14
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg16
              pkg-pg-version: 16.10
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg17
              pkg-pg-version: 17.6
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg18
              pkg-pg-version: 18.0
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build & test the project
        uses: ./.github/workflows/build-and-test
        with:
          libc: gnu
          pkg-pg-version: ${{ matrix.config.pgrx.pkg-pg-version }}
          pgrx-pg-version: ${{ matrix.config.pgrx.pgrx-pg-version }}
          artifact-upload: false

  test-musl:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/vadosware/pg_idkit/builder-musl:0.1.x@sha256:11827154256e8cf066f5e90a2f3e4a14263b16975a5a5e978b21b832d675c9b0
    strategy:
      matrix:
        config:
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg15
              pkg-pg-version: 15.14
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg16
              pkg-pg-version: 16.10
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg17
              pkg-pg-version: 17.6
          - rpm:
              arch: x86_64
            pgrx:
              pgrx-pg-version: pg18
              pkg-pg-version: 18.0
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build & test the project
        uses: ./.github/workflows/build-and-test
        with:
          libc: musl
          pkg-pg-version: ${{ matrix.config.pgrx.pkg-pg-version }}
          pgrx-pg-version: ${{ matrix.config.pgrx.pgrx-pg-version }}
          artifact-upload: false
